@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@layer base {

  h1 { @apply text-2xl md:text-4xl font-bold leading-tight; }
  h2 { @apply text-xl md:text-3xl font-semibold; }
  h3 { @apply text-lg md:text-2xl font-semibold; }
  h4 { @apply text-base font-medium; }
  h5 { @apply text-sm font-medium; }
  h6 { @apply text-xs font-medium; }
  p  { @apply text-sm leading-relaxed; }
  
  :root {
    --focus-color: theme(colors.sky.500);
    --focus-width: 3px;
    --focus-offset: 2px;
  }

  :where(:focus-visible) {
    @apply outline-none
           ring-[color:var(--focus-color)]
           ring-[length:var(--focus-width)]
           ring-offset-[var(--focus-offset)];
  }

  :where(a, button, input, select, textarea, summary,
         [tabindex]:not([tabindex="-1"]), [role="button"], [contenteditable])
  :focus-visible {
    @apply outline-none
           ring-[color:var(--focus-color)]
           ring-[length:var(--focus-width)]
           ring-offset-[var(--focus-offset)];
  }
  
}

body {
  font-family: var(--font-ibm-plex-mono, --font-ibm-plex-sans);
}

.btn-custom{
  @apply flex flex-wrap justify-center items-center gap-y-2 gap-x-2 bg-white shadow-[4px_4px_0_0_#000] dark:shadow-[4px_4px_0_0_#7f7f7f] text-black font-semibold border-3 border-black tracking-widest cursor-pointer transition-colors duration-300 ease-in-out;
  @apply hover:bg-gray-300;
}

.btn-custom.active{
  @apply bg-gray-300 cursor-default pointer-events-none;
}

.box-custom{
  @apply bg-white shadow-[4px_4px_0_0_#000] dark:shadow-[4px_4px_0_0_#7f7f7f] text-black border-3 border-black;
}

.animate-floating {
  @apply animate-[floating_4s_ease-in-out_infinite];
}

.typing-effect {
  @apply inline-block overflow-hidden whitespace-nowrap border-r-3 border-white dark:border-black animate-[typing_2s_steps(22),blink_0.5s_step-end_infinite_alternate] text-left;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
    }
  50% {
    transform: translate(20px, -20px);
    }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes typing {
  from{
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


